In [8]:
import torch
import yaml
from PIL import Image
# Model
model = torch.hub.load('ultralytics/yolov5', 'custom', path='C:\cakd5\cakd5_3rd_project_2team\dataset\yolov5m.pt', autoshape=True)  # or yolov5n - yolov5x6, custom

# Images
img = './dataset/sample333.jpg'  # or file, Path, PIL, OpenCV, numpy, list
image1 = Image.open(img)
img_size = image1.size # 이미지 사이즈 추출
# Inference
results = model(img)
results.save()
# Results
results.pandas().xyxy[0]  # or .show(), .save(), .crop(), .pandas(), etc.

Using cache found in C:\Users\kpo01/.cache\torch\hub\ultralytics_yolov5_master
YOLOv5  2022-5-21 Python-3.9.7 torch-1.11.0 CUDA:0 (NVIDIA GeForce RTX 3060 Laptop GPU, 6144MiB)

Fusing layers...
YOLOv5m summary: 290 layers, 20852934 parameters, 0 gradients
Adding AutoShape...
Saved 1 image to runs\detect\exp82

         xmin        ymin        xmax     ymax  confidence  class      name
0  203.345428  928.656372  386.962219  1020.75    0.939984      0  car-stop

In [22]:
import pandas as pd
pd.read_csv('./cctv_pre.csv',index_col=0,encoding='cp949')

,cctv_num,cctv_exp,coordinate,topLeft_x,topLeft_y,...,bottomRight_x,bottomRight_y,bottomLeft_x,bottomLeft_y,line_pixel
0,1,방지턱,"[[ 973. , 421.], [1061. , 422.], [1177. , 807....",973,421,...,1177,807,795,786,15
1,2,오토바이,"[[ 472. , 117.], [ 610. , 117.], [1000. , 650....",472,117,...,1000,650,495,723,18
2,3,거주자우선주차,"[[ 824. , 130.], [1002. , 130.], [1199. , 946...",824,130,...,1199,946,574,927,27
3,4,전선,"[[ 955. , 162.], [1246. , 173.], [1006. , 884....",955,162,...,1006,884,230,655,18

In [19]:
# 18픽셀이 차선의 폭
df = results.pandas().xyxy[0]
for i in range(len(df)):
    xmin = df.iloc[i]['xmin']
    xmax = df.iloc[i]['xmax']
    xmid = (xmax+xmin)/2
    if xmid > img_size[0]/2:
        x_lenght = xmin
    else:
        x_lenght = img_size[0]-xmax
    able_length = x_lenght/13
    print(able_length*15)

234.62934053861179

In [5]:
import torch
import yaml
from PIL import Image
import glob
# Model
model = torch.hub.load('ultralytics/yolov5', 'yolov5l')  # or yolov5n - yolov5x6, custom

# Images
file_names = glob.glob('./dataset/moving_sample/*.png')
for name in file_names:
    image1 = Image.open(name)
    img_size = image1.size # 이미지 사이즈 추출
    # Inference
    results = model(name)

    results.save()
    # results.pandas().xyxy[0]  # or .show(), .save(), .crop(), .pandas(), etc.

Using cache found in C:\Users\kpo01/.cache\torch\hub\ultralytics_yolov5_master
YOLOv5  2022-5-21 Python-3.9.7 torch-1.11.0 CUDA:0 (NVIDIA GeForce RTX 3060 Laptop GPU, 6144MiB)

Fusing layers...
YOLOv5l summary: 367 layers, 46533693 parameters, 0 gradients
Adding AutoShape...
Saved 1 image to runs\detect\exp2
Saved 1 image to runs\detect\exp3
Saved 1 image to runs\detect\exp4
Saved 1 image to runs\detect\exp5
Saved 1 image to runs\detect\exp6
Saved 1 image to runs\detect\exp7
Saved 1 image to runs\detect\exp8
Saved 1 image to runs\detect\exp9
Saved 1 image to runs\detect\exp10
Saved 1 image to runs\detect\exp11
Saved 1 image to runs\detect\exp12
Saved 1 image to runs\detect\exp13
Saved 1 image to runs\detect\exp14
Saved 1 image to runs\detect\exp15
Saved 1 image to runs\detect\exp16
Saved 1 image to runs\detect\exp17
Saved 1 image to runs\detect\exp18

In [23]:
name

'./dataset/moving_sample\\19021533_frame_250.png'

In [26]:
img

'./dataset/moving_sample\\19021533_frame_249.png'

In [151]:
# Images
img = './dataset/moving_sample\\19021529_frame_246.png'  # or file, Path, PIL, OpenCV, numpy, list

# Inference
results = model(img)
# results.show()
# Results
results.pandas().xyxy[0]  # or .show(), .save(), .crop(), .pandas(), etc.

          xmin        ymin         xmax        ymax  confidence  class name
0   794.058105   21.682938   911.059204   96.340149    0.862010      2  car
1   957.200806   24.504175  1044.835815  127.898323    0.861492      2  car
2   973.982178  157.419464  1108.995239  276.691650    0.846807      2  car
3  1177.934204  167.341003  1278.004150  298.128418    0.689296      2  car
4   985.276794  311.587097  1210.018066  596.244141    0.621401      2  car
5   757.160339    0.000000   847.348938   38.980232    0.384638      2  car

In [152]:
df = results.pandas().xyxy[0][results.pandas().xyxy[0]['class']==2]

In [153]:
mid = []
for i in range(len(df)):
    xmin = df.iloc[i]['xmin']
    xmax = df.iloc[i]['xmax']
    ymin = df.iloc[i]['ymin']
    ymax = df.iloc[i]['ymax']
    confidence = df.iloc[i]['confidence']
    xmid = (xmax+xmin)/2
    ymid = (ymin+ymax)/2
    mid.append([xmid,ymid])
    # mid.append([xmid,ymid,confidence])

In [154]:
mid

[[852.5586547851562, 59.01154327392578],
 [1001.018310546875, 76.20124912261963],
 [1041.4887084960938, 217.05555725097656],
 [1227.9691772460938, 232.73471069335938],
 [1097.6474304199219, 453.9156188964844],
 [802.254638671875, 19.490116119384766]]

In [155]:
# Images
img = './dataset/moving_sample\\19021530_frame_247.png'  # or file, Path, PIL, OpenCV, numpy, list

# Inference
results = model(img)
# results.show()
# Results
results.pandas().xyxy[0]  # or .show(), .save(), .crop(), .pandas(), etc.

,xmin,ymin,xmax,ymax,confidence,class,name
0,774.476807,23.236576,898.163635,88.095680,0.855330,2,car
1,976.342041,155.044540,1108.669678,277.126587,0.848189,2,car
2,956.919617,23.398230,1045.891113,127.897522,0.845678,2,car
3,986.010986,315.865784,1190.595947,505.531555,0.751629,2,car
4,1176.433228,166.657700,1279.322388,298.250427,0.695585,2,car
5,989.443481,460.373108,1097.116577,622.891724,0.495800,3,motorcycle
6,758.332886,0.000000,838.592163,44.630127,0.358288,2,car

In [156]:
df2 = results.pandas().xyxy[0][results.pandas().xyxy[0]['class']==2]

In [157]:
mid2 = []
for i in range(len(df2)):
    xmin = df2.iloc[i]['xmin']
    xmax = df2.iloc[i]['xmax']
    ymin = df2.iloc[i]['ymin']
    ymax = df2.iloc[i]['ymax']
    confidence = df2.iloc[i]['confidence']
    xmid = (xmax+xmin)/2
    ymid = (ymin+ymax)/2
    mid2.append([xmid,ymid])
    # mid2.append([xmid,ymid,confidence])

In [158]:
mid.sort()
mid

[[802.254638671875, 19.490116119384766],
 [852.5586547851562, 59.01154327392578],
 [1001.018310546875, 76.20124912261963],
 [1041.4887084960938, 217.05555725097656],
 [1097.6474304199219, 453.9156188964844],
 [1227.9691772460938, 232.73471069335938]]

In [159]:
mid2.sort()
mid2

[[798.4625244140625, 22.3150634765625],
 [836.3202209472656, 55.666128158569336],
 [1001.4053649902344, 75.64787578582764],
 [1042.505859375, 216.08556365966797],
 [1088.303466796875, 410.69866943359375],
 [1227.8778076171875, 232.45406341552734]]

In [174]:
mid3 = []
threshold = 0.1
for middle in mid:
    for middle2 in mid2:
        # mid_x , mid_y ,_ = middle
        # mid2_x, mid2_y ,_ = middle2
        mid_x , mid_y = middle
        mid2_x, mid2_y = middle2
        if (mid_x*(1-threshold) < mid2_x < mid_x*1.1) & (mid_y*(1-threshold) < mid2_y < mid_y*1.1):
            mid3.append([mid2_x,mid2_y])

In [175]:
mid3

[[836.3202209472656, 55.666128158569336],
 [1001.4053649902344, 75.64787578582764],
 [1042.505859375, 216.08556365966797],
 [1088.303466796875, 410.69866943359375],
 [1227.8778076171875, 232.45406341552734]]

In [164]:
mid2 == mid3

False

In [166]:
# Images
img = './dataset/moving_sample\\19021289_frame_12.png'  # or file, Path, PIL, OpenCV, numpy, list

# Inference
results = model(img)
# results.show()
# Results
results.pandas().xyxy[0]  # or .show(), .save(), .crop(), .pandas(), etc.

df3 = results.pandas().xyxy[0][results.pandas().xyxy[0]['class']==2]

mid4 = []
for i in range(len(df3)):
    xmin = df3.iloc[i]['xmin']
    xmax = df3.iloc[i]['xmax']
    ymin = df3.iloc[i]['ymin']
    ymax = df3.iloc[i]['ymax']
    confidence = df3.iloc[i]['confidence']
    xmid = (xmax+xmin)/2
    ymid = (ymin+ymax)/2
    mid4.append([xmid,ymid])
    # mid.append([xmid,ymid,confidence])

In [167]:
# Images
img = './dataset/moving_sample\\19021290_frame_13.png'  # or file, Path, PIL, OpenCV, numpy, list

# Inference
results = model(img)
# results.show()
# Results
results.pandas().xyxy[0]  # or .show(), .save(), .crop(), .pandas(), etc.

df4 = results.pandas().xyxy[0][results.pandas().xyxy[0]['class']==2]

mid5 = []
for i in range(len(df4)):
    xmin = df4.iloc[i]['xmin']
    xmax = df4.iloc[i]['xmax']
    ymin = df4.iloc[i]['ymin']
    ymax = df4.iloc[i]['ymax']
    confidence = df4.iloc[i]['confidence']
    xmid = (xmax+xmin)/2
    ymid = (ymin+ymax)/2
    mid5.append([xmid,ymid])
    # mid.append([xmid,ymid,confidence])

In [179]:
mid4.sort()
mid4

[[801.4805603027344, 18.560514450073242],
 [1001.5243835449219, 75.00112438201904],
 [1042.5511779785156, 215.1925048828125],
 [1086.5820922851562, 409.67889404296875],
 [1227.137939453125, 233.5418243408203]]

In [180]:
mid5.sort()
mid5

[[802.3318481445312, 18.770341873168945],
 [1001.5873413085938, 74.07669353485107],
 [1042.62890625, 214.32386779785156],
 [1086.9381103515625, 411.3818817138672],
 [1227.571044921875, 234.33970642089844]]

In [181]:
mid6 = []
for middle in mid4:
    for middle2 in mid5:
        # mid_x , mid_y ,_ = middle
        # mid2_x, mid2_y ,_ = middle2
        mid_x , mid_y = middle
        mid2_x, mid2_y = middle2 
        if (mid_x*(1-threshold) < mid2_x < mid_x*(1+threshold)) & (mid_y*(1-threshold) < mid2_y < mid_y*(1+threshold)):
            mid6.append([mid2_x,mid2_y])

In [182]:
mid6

[[802.3318481445312, 18.770341873168945],
 [1001.5873413085938, 74.07669353485107],
 [1042.62890625, 214.32386779785156],
 [1086.9381103515625, 411.3818817138672],
 [1227.571044921875, 234.33970642089844]]

In [183]:
mid5 == mid6

True

In [1]:
import cv2
import numpy as np
from PIL import Image

src = cv2.imread('./k5_1', cv2.IMREAD_COLOR)
topLeft = [ 824 , 130] # x+y가 가장 값이 좌상단 좌표
topRight = [1002 , 130]  # x-y가 가장 작은 것이 우상단 좌표
bottomRight = [1199 , 946]  # x+y가 가장 큰 값이 우하단 좌표
bottomLeft = [ 574,  927]  # x-y가 가장 큰 값이 좌하단 좌표

# 변환 전 4개 좌표 
pts1 = np.float32([topLeft, topRight, bottomRight, bottomLeft])
print(pts1)

# 변환 후 영상에 사용할 서류의 폭과 높이 계산
w1 = abs(bottomRight[0] - bottomLeft[0])
w2 = abs(topRight[0] - topLeft[0])
h1 = abs(topRight[1] - bottomRight[1])
h2 = abs(topLeft[1] - bottomLeft[1])
width = int(max([w1, w2])) # 두 좌우 거리간의 최대값이 서류의 폭
height = int(max([h1, h2])*1.5)  # 두 상하 거리간의 최대값이 서류의 높이

# 변환 후 4개 좌표
pts2 = np.float32([[0, 0], [width - 1, 0],
                    [width - 1, height - 1], [0, height - 1]])
print(pts2)
print(width,height)

# 변환 행렬 계산 
mtrx = cv2.getPerspectiveTransform(pts1, pts2)
# 원근 변환 적용
result = cv2.warpPerspective(src, mtrx, (width, height))
img = Image.fromarray(result, 'RGB')
image1 = Image.open(img)
img_size = image1.size # 이미지 사이즈 추출
# Inference
results = model(img)
# Results
results.pandas().xyxy[0]  # or .show(), .save(), .crop(), .pandas(), etc.

[[ 824.  130.]
 [1002.  130.]
 [1199.  946.]
 [ 574.  927.]]
[[   0.    0.]
 [ 624.    0.]
 [ 624. 1223.]
 [   0. 1223.]]
625 1224

error: OpenCV(4.5.5) D:\a\opencv-python\opencv-python\opencv\modules\imgproc\src\imgwarp.cpp:3144: error: (-215:Assertion failed) _src.total() > 0 in function 'cv::warpPerspective'

In [195]:
img.show()